{% extends 'alliancetools/base.html' %}
{% load alliancetools_tags %}
{% load humanize %}
{% block at_block %}
    <h4 class="text-center">Autdit Log</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Time</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for crud in cruds %}
                <tr><td>{{crud.user}}</td><td>{{crud.datetime|naturaltime}}</td><td>{{crud.title}}</td><td style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{crud.description}}</td></tr>
            {% empty %}
                <div class="alert alert-info">No Audit Events Recorded</div>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
