{% extends 'alliancetools/base.html' %}
{% load i18n %}
{% load humanize %}
{% block at_block %}
    {% if jobs %}
    <div class="container col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-12 text-center">
                <h3>Open Jobs</h3>
            </div>
            <a class="btn btn-success col-xs-12 col-sm-4 col-md-4 col-md-offset-4 col-sm-offset-4" type="button" href="{% url 'alliancetools:add_job' %}" title="Add Job">Add New Job</a>
        </div>
        <div class="row">
            <div class="flex-container flex-wrap">
                {% for job in jobs%}
                    <div class=" col-xs-12 col-sm-6 col-md-4">
                        <div class="flex-item  col-xs-12 col-sm-12 col-md-12">
                            <div class="text-center col-xs-12 col-sm-4 col-md-4">
                                <img class="ra-avatar img-circle" src="https://image.eveonline.com/Character/{{ job.creator.character_id }}_128.jpg">
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-8">
                                <h4>{{ job.title }}</h4>
                                <p><b>Creator:</b> {{ job.creator.character_name }}</p>
                                <p><b>Created on:</b> {{ job.created|date:"Y-m-d H:i.s" }}</p>
                                <p>{% if job.description %}{{ job.description }}{% else %}{{ job.title }}{% endif %}</p>
                            </div>
                            <a class="btn btn-success col-xs-6 col-sm-5 col-md-5" type="button" href="{% url 'alliancetools:mark_complete' job.id%}" title="Mark Complete">Mark Complete</a>
                            <a class="btn btn-primary col-xs-6 col-sm-5 col-md-5 col-md-offset-2 col-sm-offset-2" type="button" href="{% url 'alliancetools:add_comment' job.id%}" title="Add Comment">Add Comment</a>
                            {% with comments=job.last_comments %}
                                {% if comments %}
                                    {% for comment in comments %}
                                        <div class="flex-item col-xs-12 col-md-12" style="border-width: 1px 0 0 0;">
                                            <div class="text-center col-sm-12 col-sm-4 col-md-4">
                                                <img class="ra-avatar img-circle" src="https://image.eveonline.com/Character/{{ comment.commenter.character_id }}_64.jpg">
                                            </div>
                                            <div class="col-sm-12 col-sm-8 col-md-8">
                                                <p><b>{{comment.commenter.character_name}}</b> at {{ comment.created|date:"Y-m-d H:i" }}</p>
                                                <p>{{ comment.comment }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
        <div class="alert alert-warning text-center">{% trans "No Open Jobs" %}</div>
        <a class="btn btn-success col-xs-12 col-sm-4 col-md-4 col-md-offset-4 col-sm-offset-4" type="button" href="{% url 'alliancetools:add_job' %}" title="Add Job">Add New Job</a>

    {% endif %}

{% endblock %}
