{% extends 'alliancetools/base.html' %}
{% load i18n %}
{% load humanize %}
{% block at_block %}
<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-pills pull-left">
            <li class="active"><a href="#open-jobs" data-toggle="pill">{% trans 'Open Jobs' %}</a></li>
            <li><a href="#closed-jobs" data-toggle="pill">{% trans 'Closed Jobs' %}</a></li>
        </ul>
        <div class="pull-right">
            <a class="btn btn-success" type="button"
                       href="{% url 'alliancetools:add_job' %}" title="Add Job">Add New Job</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane fade in active" id="open-jobs">
        {% if jobs %}
        <div class="container col-xs-12">
            <table class="table table-striped">
                    <thead>
                        <th class="text-center">Creator</th>
                        <th class="text-center">Date</th>
                        <th></th>
                        <th></th>
                    </thead>
                    {% for job in jobs %}
                        <tr>
                            <td class="text-center" style="vertical-align:middle;"><img style="margin:10px;" class="ra-avatar img-circle"
                                     src="https://image.eveonline.com/Character/{{ job.creator.character_id }}_64.jpg">
                                <p>{{ job.creator.character_name }}</p>
                            </td>
                            <td class="text-center"  style="vertical-align:middle;" ><p>{{ job.created|date:"Y-m-d H:i"}}</p><p>{{ job.created|naturaltime }}</p></td>
                            <td class="text-center" style="vertical-align:middle;">
                                <h4>{{ job.title }}</h4>
                                <div class="text-center">
                                    <a class="btn btn-info fa fa-file-text"
                                       type="button" href="{% url 'alliancetools:audit_log' job.id %}" title="Audit"></a>
                                    <a class="btn btn-success fa fa-check-square" type="button"
                                       href="{% url 'alliancetools:mark_complete' job.id %}" title="Mark Complete"></a>
                                    <a class="btn btn-primary fa fa-edit"
                                       type="button" href="{% url 'alliancetools:edit_job' job.id %}" title="Edit"></a>
                                    <a class="btn btn-primary fa fa-comment"
                                       type="button" href="{% url 'alliancetools:add_comment' job.id %}" title="Add Comment"></a>
                                </div>
                            </td>

                            <td>
                                <p style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{% if job.description %}{{ job.description|safe }}{% else %}{{ job.title }}{% endif %}</p>


                                {% with comments=job.last_comments %}
                                    {% if comments %}
                                        {% for comment in comments %}
                                            {% if forloop.first %}
                                                {% if comments.count > 0 %}
                                                    <div class="btn btn-primary col-xs-12 col-sm-12 col-md-12" data-toggle="collapse"
                                                         href="#{{ job.id }}">Show/Hide Comments ({{ comments.count }})
                                                    </div>
                                                    <div id="{{job.id}}" class="collapse">
                                                    <table class="table table-hover" style="border-width: 1px 0 0 0;">

                                                {% endif %}
                                            {% else %}
                                            {% endif %}
                                                    <tr><td class="text-center">
                                                        <img class="ra-avatar img-circle"
                                                             src="https://image.eveonline.com/Character/{{ comment.commenter.character_id }}_64.jpg">
                                                    </td>
                                                    <td class="text-center">
                                                        <p><b>{{comment.commenter.character_name}}</b> ({{ comment.created|naturaltime }})</p>
                                                        <p style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{ comment.comment }}</p>
                                                    </td></tr>

                                            {% if forloop.last %}
                                                {% if comments.count > 0 %}
                                                        </table>
                                                     </div>
                                                {% endif %}
                                            {% endif %}
                                        {% empty %}
                                        {% endfor %}
                                    {% else %}
                                    {% endif %}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning text-center">{% trans "No Open Jobs" %}</div>
        <a class="btn btn-success col-xs-12 col-sm-4 col-md-4 col-md-offset-4 col-sm-offset-4" type="button"
           href="{% url 'alliancetools:add_job' %}" title="Add Job">Add New Job</a>
        {% endif %}
    </div>
    <div class="tab-pane fade" id="closed-jobs">
        {% if closed %}
        <div class="container col-xs-12">
            <table class="table table-striped">
                    <thead>
                        <th class="text-center">Completed By</th>
                        <th class="text-center">Date</th>
                        <th></th>
                        <th></th>
                    </thead>
                    {% for job in closed %}
                        <tr>
                            <td class="text-center" style="vertical-align:middle;"><img style="margin:10px;" class="ra-avatar img-circle"
                                     src="https://image.eveonline.com/Character/{{ job.assined_to.character_id }}_64.jpg">
                                <p>{{ job.assined_to.character_name }}</p>
                            </td>
                            <td class="text-center"  style="vertical-align:middle;" ><p>{{ job.completed|date:"Y-m-d H:i"}}</p><p>{{ job.completed|naturaltime }}</p></td>
                            <td class="text-center" style="vertical-align:middle;">
                                <h3>{{ job.title }}</h3>
                                <div class="text-center">
                                    <a class="btn btn-info fa fa-file-text"
                                       type="button" href="{% url 'alliancetools:audit_log' job.id %}" title="Audit"></a>
                                </div>
                            </td>

                            <td>
                                <p style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{% if job.description %}{{ job.description|safe }}{% else %}{{ job.title }}{% endif %}</p>


                                {% with comments=job.last_comments %}
                                    {% if comments %}
                                        {% for comment in comments %}
                                            {% if forloop.first %}
                                                {% if comments.count > 0 %}
                                                    <div class="btn btn-primary col-xs-12 col-sm-12 col-md-12" data-toggle="collapse"
                                                         href="#{{ job.id }}">Show/Hide Comments ({{ comments.count }})
                                                    </div>
                                                    <div id="{{job.id}}" class="collapse">
                                                    <table class="table table-hover" style="border-width: 1px 0 0 0;">

                                                {% endif %}
                                            {% else %}
                                            {% endif %}
                                                    <tr><td class="text-center">
                                                        <img class="ra-avatar img-circle"
                                                             src="https://image.eveonline.com/Character/{{ comment.commenter.character_id }}_64.jpg">
                                                    </td>
                                                    <td class="text-center">
                                                        <p><b>{{comment.commenter.character_name}}</b> ({{ comment.created|naturaltime }})</p>
                                                        <p style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{ comment.comment }}</p>
                                                    </td></tr>

                                            {% if forloop.last %}
                                                {% if comments.count > 0 %}
                                                        </table>
                                                     </div>
                                                {% endif %}
                                            {% endif %}
                                        {% empty %}
                                        {% endfor %}
                                    {% else %}
                                    {% endif %}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning text-center">{% trans "No Closed Jobs" %}</div>
        {% endif %}
        {% endblock %}
    </div>
</div>